<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Base">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Commands">
            <directory>tests/Commands</directory>
        </testsuite>
        <testsuite name="Handlers">
            <directory>tests/Handlers</directory>
        </testsuite>
        <testsuite name="Http">
            <directory>tests/Http</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="ENV" value="testing"/>
    </php>
</phpunit>
