$body-bg: #f8fafc;

$family-sans-serif: "Roboto", "Helvetica", "Arial", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$title-weight: 500;
$label-weight: 500;

$link-dark: hsl(209, 71%, 63%);

$footer-padding: 1rem 2rem 1rem;
