// Body
$body-bg: #f8fafc;

// Typography
$family-sans-serif: "Segoe UI", "Open Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;