@charset "utf-8";

@import 'variables';

@import "~bulma/bulma";
@import "~bulma-slider/src/sass/index.sass";
@import '@creativebulma/bulma-tooltip';
@import "~bulma-prefers-dark/bulma-prefers-dark.sass";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "fonts";

@import "custom";
